<!DOCTYPE html>
<html>
  <head>
	{{set . "title" "博客详情"}}
	{{set . "home" "active" }}
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
	<link href="/public/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/public/css/header.css" rel="stylesheet">
	<link href="/public/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/public/bootstrap/css/jquery-confirm.css" rel="stylesheet">
    <script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/bootstrap/js/bootstrap.js"></script>
	<script src="/public/bootstrap/js/jquery-confirm.js"></script>
  </head>
  <body>
	{{template "header.html" .}}
	{{template "footer.html" .}}
  </body>
</html>