<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h3>基于Golang实现的博客应用iBlog</h3>
				<h4><small>数据库采用mongodb（mgo）、页面样式使用bootstrap（布局参考csdn）、整体实现采用Revel，Revel地址：<a href="http://revel.github.io/docs/godoc/index.html" target="_blank">http://revel.github.io/docs/godoc/index.html</a></small></h4>
				<h4><small>时间：2015.12.10</small></h4>       	
			</div>
			<div class="navbar navbar-inverse" style="margin-top:1px;">
				<div class="navbar-inner">
					<div class="container-fluid">
						<a class="btn btn-navbar" data-target=".navbar-responsive-collapse" data-toggle="collapse"></a> <a class="brand" href="#">iBlog</a>
						<div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
								<li class="{{.home}}">
									<a href="/">主页</a>
								</li>
								<li class="{{.blog}}">
									<a href="/blog">新博客</a>
								</li>
								<li class="{{.save}}">
									<a href="/save">我的收藏</a>
								</li>
								<li class="{{.contact}}">
									<a href="javascript:contact()">联系</a>
								</li>
								<li class="{{.manage}}">
									<a class="dropdown-toggle" data-toggle="dropdown" href="/manage">管理</a>
								</li>
							</ul>
							<ul class="nav pull-right">
								<form class="form-search">
									<input class="input-medium search-query" type="text" placeholder="请输入要搜索的文章"/>
								</form>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>